# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# environment variables
.env
.env.local
.env.production
.env.*.local

# editor / OS
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
*.swp
Thumbs.db

# misc
.cache/
.parcel-cache/
.turbo/
.vercel/
.wrangler/

# temp
*.tmp
